 body {
 display: flex; 
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, white 50%, rgb(211, 226, 225) 50%  );
 }

.img {
  padding: 60px; 
}

img {
  border: 10px solid white;  
}
.parent {
   display: flex;
   position: relative;
 margin: 0 auto;
}
  
.text-box {
 position: absolute;   
top: 30%; 
width: 200px;
height: 200px;
background-color: rgb(224, 214, 221);
right:-8%;
font-size: small;
padding: 1%;
border: 5px solid white;
}
.social-icons {
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}
